.profile-header {
  justify-content: center;
  height: 350px;
  width: 100%;
  background-color: var(--white);
}
.info {
  display: flex;
  padding: 0 22%;
  align-items: flex-end;
  width: 80%;
  height: 30%;
  .info-user {
    height: 100%;
  }
}
.avatar {
  display: flex;
  justify-content: center;
  z-index: 2;
}
.profile-background {
  margin: 0 20%;
  left: 0;
  top: 0;
  height: 65%;
  z-index: 1;
  background-size: cover;
  background-color: var(--dark);
  border-radius: 0 0 12px 12px;
}
