.wrapper {
  margin-top: 5px;
  padding: 0 5px 10px 15px;
  position: relative;
  overflow-y: scroll;
}
.user {
  display: flex;
  align-items: center;
  height: 50px;
}
.image-thumb {
  width: 100%;
  position: relative;
  button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
