.wrapper {
  margin-top: 5px;
  max-height: 910px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  form {
    margin-bottom: 5px;
    padding: 0 5px 10px 15px;
    overflow-y: scroll;
  }
}
.form-field {
  overflow: hidden;
}
.user {
  padding: 0 5px 10px 15px;
  display: flex;
  align-items: center;
  height: 50px;
}
.user-info {
  margin-left: 10px;
  cursor: pointer;
  div {
    font-size: 16px;
  }
  p {
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--gray-light);
  }
  button {
    padding: 0;
    font-size: 14px;
    height: 25px !important;
  }
}
.image-thumb {
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
.change-art {
  position: absolute;
  top: 15px;
  left: 20px;
}
.autosize-textarea {
  min-height: 50px; // you can set a minimum height
  resize: none; // this line won't allow manual resize
  overflow: hidden; // this line will hide the scrollbar
  font-family: var(--font-family2);
}
.btn-edit {
  display: flex;
  justify-content: flex-end;
}
