.wrapper {
  margin-top: 15px;
  max-height: 910px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  form {
    margin-bottom: 5px;
    padding: 0 5px 10px 15px;
    overflow-y: scroll;
  }
}
.form-field {
  overflow: hidden;
}
.user {
  padding: 0 5px 10px 15px;
  display: flex;
  align-items: center;
  height: 50px;
}
.user-info {
  margin-left: 10px;
  cursor: pointer;
  div {
    font-size: 16px;
  }
  button {
    padding: 0;
    font-size: 14px;
    height: 25px !important;
  }
}
.image-thumb {
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
.change-art {
  position: absolute;
  top: 15px;
  left: 20px;
}
.autosize-textarea {
  min-height: 50px; // you can set a minimum height
  resize: none; // this line won't allow manual resize
  overflow: hidden; // this line will hide the scrollbar
  font-family: var(--font-family2);
}
.btn-edit {
  display: flex;
  justify-content: flex-end;
}
.privacy {
  position: relative;
  height: 25px !important;
  width: 180px;
  border-radius: 5px;
  button {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 5px 10px;
    padding-right: 30px;
    min-height: 25px !important;
    height: 25px !important;
    background-color: var(--gray-light);

    i svg {
      height: 15px !important;
      min-height: 15px !important;
    }
    span {
      font-size: 14px !important;
    }
  }
  button::before,
  button::after {
    --size: 0.5rem;
    position: absolute;
    content: '';
    right: 1rem;
    pointer-events: none;
  }

  button::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    top: 40%;
  }

  button::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 45%;
  }
}
