.os-theme-dark .os-scrollbar-horizontal,
.os-theme-dark .os-scrollbar-vertical {
  background: transparent !important;
}

.os-theme-dark .os-scrollbar > .os-scrollbar-handle {
  background: rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
}

.os-theme-dark .os-scrollbar.os-scrollbar-horizontal .os-scrollbar-track,
.os-theme-dark .os-scrollbar.os-scrollbar-vertical .os-scrollbar-track {
  background: transparent !important;
}
