.user-avatar {
  border: none;
  outline: none;
  border-radius: 50%;
  object-fit: cover;
  &:hover {
    cursor: pointer;
  }
}

.profile {
  width: 150px;
  height: 150px;
  padding: 5px;
  background-color: var(--white);
  border-radius: 16px !important;
}

.XL {
  width: 140px !important;
  height: 140px !important;
  padding: 5px;
}

.large {
  width: 50px !important;
  height: 50px !important;
}
.medium {
  width: 40px !important;
  height: 40px !important;
}
.small {
  width: 30px !important;
  height: 30px !important;
}
