.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: var(--default-layout-header-height);
  padding: 0 var(--default-layout-horizontal-spacer - 10);
  height: 940px;
  background-color: #edf1f4;
}

.content {
  display: flex;
  flex: 1;
  padding: 0 250px 0;
  justify-content: center;
}
