.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 30px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dark);
  background-color: transparent;
  user-select: none;
  + .wrapper {
    margin-left: 10px;
  }

  &.active {
    color: var(--red) !important;
  }
  &:active {
    filter: brightness(130%);
  }
}

.title {
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}
.icon {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;

  svg {
    min-width: 20px;
    min-height: 20px;
  }
}
.image {
  display: inline-block;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}

// Button types
.primary {
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 5%);
}
.gray {
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--gray);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 5%);
}
.grayLight {
  align-items: center;
  justify-content: center;
  color: var(--gray-font);
  background-color: var(--gray-light);
  &:hover {
    background-color: rgb(221, 221, 221);
  }
}
.white {
  font-size: 16px;
  padding: 6px 15px;
  line-height: normal;
  min-width: 30px;
  height: auto;
  position: relative;
  // top: -1px;
  color: var(--dark);
  background-color: var(--white);
  &:hover {
    color: #212529;
    background-color: #eee;
    text-decoration: none;
  }
}

.login {
  padding: 10px 20px;
  line-height: normal;
  min-width: 40px;
  height: auto;
  border-radius: 50px;
  font-size: 16px;
  white-space: nowrap;
  text-transform: uppercase;
  background: linear-gradient(
    44deg,
    #ff096e,
    #ff575f,
    #ff7e4e,
    #fd9f36
  ) !important;
  color: #fff !important;
}

.signup {
  border: none;
  padding: 10px 20px;
  line-height: normal;
  height: auto;
  border-radius: 50px;
  font-size: 16px;
  white-space: nowrap;
  text-transform: uppercase;
  background: linear-gradient(90deg, #2d9bea, #8d2ee4) !important;
  color: #fff !important;
}

.follow {
  font-size: 16px;
  padding: 6px 15px;
  line-height: normal;
  height: auto;
  border-radius: 25px;
  position: relative;
  top: -1px;
  &:hover {
    color: #fff;
    background-color: #0050d9;
    border-color: #004bcc;
  }
}

.upload {
  padding: 10px 10px;
  line-height: normal;
  min-width: 30px;
  height: auto;
  border-radius: 10px;
  font-size: 16px;
  white-space: nowrap;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff5722, #ff9800);
  color: #fff !important;
}

.up:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  filter: brightness(130%);
}
.rounded {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 5%);
}

span {
  margin-right: 0px !important;
}

// size
.sm {
  width: 30px !important;
  height: 30px !important;
}
.md {
  width: 40px !important;
  height: 40px !important;
}
.lg {
  width: 50px !important;
  height: 50px !important;
}
