.wrapper {
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  max-width: 100%;
  overflow-y: auto;
  form {
    padding-left: 15px;
    padding-right: 5px;
    max-width: 100%;
    overflow-y: scroll;
  }
}

.form-field {
  margin-top: 10px;
  overflow: hidden;
}
.custom-select {
  width: 100%;
  max-width: 100%;
  position: relative;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 16px !important;
  padding: 0.5em 3em 0.5em 1em;
  background-color: var(--gray-light);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;

  &:focus {
    outline: 0;
    border: 1px solid blue;
  }
}
.custom-select::before,
.custom-select::after {
  --size: 0.5rem;
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 45%;
}
.custom-select option {
  border-radius: 0.25rem;
}

.input-img {
  width: fit-content;
  margin: 0 !important;
}

.check-term {
  display: flex;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  label {
    margin: 0 !important;
    font-size: 15px;
    white-space: pre-wrap;
    cursor: pointer;
  }
  a {
    color: blue;
    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}
