.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 700px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.detail {
  position: relative;
  height: 100%;
  padding-left: 15px;
  padding-right: 5px;
  overflow-y: scroll;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px !important;

  .dropdown-btn {
    border-radius: 50px;
  }

  button:hover {
    background-color: var(--gray-light);
  }
}
.author {
  display: flex;
  align-items: center;
  height: 50px;
}
.author-info {
  margin-left: 10px;
}

.art-detail {
  .image-art {
    width: 100%;
    height: 640px;
    object-fit: cover;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 14px;
    }
  }
}
.actions {
  margin: 5px 0;
  padding: 5px 0;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  height: 35px;
  cursor: pointer;
  &:hover {
    border-radius: 8px;
    background-color: var(--gray-light);
  }
  .btn-red {
    color: red;
  }
  button {
    font-size: 14px !important;
    span {
      height: 20px !important;
    }
    padding: 0 5px !important;
  }
}
.views {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}

input[type='text'] {
  width: 100% !important;
}
.comments {
  max-width: 100%;
}
