.spin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  animation: spinner 0.5s linear infinite;
}
.full {
  width: 100vw;
  height: 100vh;
  svg {
    width: 30px;
    height: 30px;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
