.spin-icon {
  display: flex;
  justify-content: center;
}

.loading {
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
