@import '../../GlobalStyles/GlobalStyles.scss';

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
}
.art-options,
.art-options-profile {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.art-options-profile {
  padding: 0 20px;
  justify-content: flex-start;
  background-color: transparent;
  .style {
    background-color: #fff;
    &:hover {
      background-color: #fff !important;
    }
  }
}
.style,
.wrapper .custom-select {
  margin: 5px 10px;
  padding: 5px 15px;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
}

.style:hover {
  cursor: pointer;
  background-color: var(--gray-light) !important;
}
.selected,
.selected.style:hover {
  cursor: pointer;
  background-color: var(--cyan) !important;
  color: var(--white) !important;
}
.style select {
  padding: 5px 15px !important;
  background-color: transparent !important;
}

.more {
  padding: 0.5em 2em 0.5em 1em;
  width: auto;
}
.more::before,
.more::after {
  --size: 0.5rem;
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
}

.more::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  top: 40%;
}

.more::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 45%;
}
.selected.more::after {
  border-top: var(--size) solid white;
}

.masonry-wrapper {
  width: 100%;
  margin: 20px 0 0 !important;
  padding: 0 20px;
  background-color: #edf1f4;
}

@keyframes card-loading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.card-thumb-sample {
  width: 100%;
  height: 400px;
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: var(--shadow-reg-0);
  animation-name: card-loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.masonry-wrapper {
  width: 100%;
  min-height: 1000px;
  display: flex;
  justify-content: center;
}
