.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  // &:hover {
  //   background: rgba(22, 24, 35, 0.03);
  // }
}

.user {
  display: flex;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}
.info {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
}

.name {
  white-space: nowrap;
  margin-right: 4px !important;
  font-weight: 600;
}
.username {
  font-weight: 200;
  color: var(--gray);
}
