// Menu wrapper
.menu-profile {
  width: 200px;
  cursor: pointer;
  .menu-item {
    padding: 8px 24px !important;
    margin-left: 0 !important;
  }
}

.avatar {
  width: 2px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}

span {
  display: flex;
  justify-content: left !important;
  width: 100%;
}
