.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .SpinIcon {
    display: flex;
    justify-content: center;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}
.post-thumb-sample {
  margin-bottom: 20px;
  padding: 5px 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100% !important;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 14px;
  background-clip: border-box;
  background-color: var(--white);
  box-shadow: var(--shadow-reg-0);
}
.post-user-sample {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}
.post-avatar-sample {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  border-radius: 50px;
  background-color: var(--gray-light);
}
.post-username-sample {
  margin-left: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.post-username-sample-1,
.post-username-sample-2 {
  width: 100px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--gray-light);
}
.post-username-sample-2 {
  width: 140px;
}
.post-actions-sample {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 140px;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  height: 30px;
}
.post-action-sample {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: var(--gray-light);
}
@keyframes card-loading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.post-avatar-sample,
.post-username-sample-1,
.post-username-sample-2,
.post-action-sample {
  animation-name: card-loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
