.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 100%;
  margin-top: var(--default-layout-header-height);
  padding: 0 var(--default-layout-horizontal-spacer - 10);
  min-height: 940px;
  background-color: #edf1f4;
}

.content {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
  overflow: auto;
}
