.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  button {
    margin-right: 10px;
  }
  + .wrapper {
    margin-left: 10px;
  }
}

.modal,
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 90;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-content {
  position: absolute;
  display: grid;
  align-items: flex-start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.4;
  background: var(--white);
  color: #000;
  border: 1px solid transparent;
  border-radius: 8px;
  min-width: 500px;
  max-width: 900px;
  cursor: default;
  overflow-y: hidden;

  h2 {
    text-align: center !important;
  }

  label {
    margin: 8px 0 8px;
  }

  p {
    font-size: 16px;
    font-family: var(--font-family2);
  }

  input {
    height: 40px;
    font-size: 14px;
  }

  button {
    span {
      display: flex;
      justify-content: center !important;
    }
    + button {
      margin-left: 10px !important;
    }
  }

  &.form-control {
    background-color: var(--gray-light) !important;
    border-color: #edf1f4 !important;
  }
}
.heading {
  display: flex;
  height: 50px;
  border-bottom: 1px solid var(--gray);
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 24px;
}
.confirmation {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.confirm-btn {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  padding: 5px;
}

// modal size
.small {
  width: 500px;
  max-width: 500px;
  max-height: 960px;
}
.medium {
  min-width: 700px;
  height: 960px;
  max-height: 960px;
}

.form-field {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

input[type='text'],
textarea {
  width: 100%;
  font-size: 16px !important;
  border: 1px solid transparent !important;
  border-radius: 5px;
  background-color: #edf1f4 !important;
}
input[type='checkbox'] {
  margin-right: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  &:focus-within,
  &:checked {
    border: 1px solid var(--cyan);
  }
  label {
    width: 300px;
  }
}
.mess-error {
  margin: 5px 0;
  color: red !important;
}

.close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 0 5px !important;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  svg {
    height: 20px;
  }
}
