.navbar-custom {
  --search-border-radius: 60px;
  --search-button-width: 38px;

  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 5px rgb(0 0 0 / 18%);
  height: var(--default-layout-header-height, 60px);
}

.inner {
  height: 100%;
  // width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.left-header {
  width: 100%;
  display: flex;
  justify-content: left;
}
.center-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.right-header {
  width: 100%;
  display: flex;
  justify-content: right;
}

.inner.max {
  max-width: 100%;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

// actions
.actions {
  display: flex;
}

.actions .action-btn {
  font-size: 18px;
  background-color: transparent;
}
// Menu profile
.menu-profile-btn {
  cursor: pointer;
}
.user-avatar {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
