@import 'normalize.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
:root {
  --blue: #005eff;
  --indigo: #6574cd;
  --purple: #9561e2;
  --pink: #f66d9b;
  --red: #ff315a;
  --orange: #ff5722;
  --yellow: #ffc107;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray-light: #edf1f4;
  --gray-font: #495057;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #005eff;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffc107;
  --danger: #ff315a;
  --light: #eff1f2;
  --dark: #343a40;
  --text-color: #333;

  //font
  --font-family1: 'Montserrat', sans-serif;
  --font-family2: 'Roboto', sans-serif;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1440px;
  --default-layout-horizontal-spacer: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family1);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: unset;
}

// Scrollbar
html *::-webkit-scrollbar,
body *::-webkit-scrollbar {
  border-radius: 0;
  width: 10px;
}
html *::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

//show-hide scrollbar

html * .scroll-show::-webkit-scrollbar,
body * .scroll-show::-webkit-scrollbar {
  width: 10px;
}

html * .scroll-show::-webkit-scrollbar-thumb,
body * .scroll-show::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

html * .scroll-show::-webkit-scrollbar-track,
body * .scroll-show::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

html * .scroll-hide::-webkit-scrollbar,
body * .scroll-hide::-webkit-scrollbar {
  width: 10px; /* Adjust to your preference */
}

html * .scroll-hide::-webkit-scrollbar-thumb,
body * .scroll-hide::-webkit-scrollbar-thumb {
  background-color: transparent; /* Or your respective color */
}

html * .scroll-hide::-webkit-scrollbar-track,
body * .scroll-hide::-webkit-scrollbar-track {
  background-color: transparent; /* Or your respective color */
}

// other
button,
input [tabindex] {
  border: none;
  outline: none;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--text-color);
  }
}

// line divider
.divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
.divider-gray {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #cbcfd3;
}

// masonry
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

// input, textarea, select
input[type='text'],
textarea,
select {
  font-size: 16px;
  font-family: inherit;
  color: var(--gray-font);
}

.custom-select select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  font-size: 16px !important;
  padding: 0.5em 3em 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.custom-select {
  max-width: 100%;
  position: relative;
  &:focus {
    outline: 0;
    border: 1px solid blue;
  }
  select {
    background-color: var(--gray-light);
  }
}
.custom-select::before,
.custom-select::after {
  --size: 0.5rem;
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 45%;
}
// .custom-select option {
//   border-radius: 0.25rem;
// }

.custom-select select:focus {
  outline: 0;
  border: 1px solid var(--cyan) !important;
}
